<!DOCTYPE html>
<html>
  <head>
    <title>
      Welcome to the relevant app.
    </title>

    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
     

    </script>

  </head>

  <body>

    Inventory
    <br/>

  </body>

</html>
