<!DOCTYPE html>
<html>
  <head>

    <title>
      Welcome to the relevant app.
    </title>
    
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

     //when the document is ready to be manipulated
     $(document).ready(function(){

     };

    </script>
    
  </head>
  
  <body>

    <p>
      
      Add some text for the sake of adding text.
      <br/>
      Here is an input box: <input id="input1" type="text" />
      <br/>
      Here is another input box: <input id="input2"  type="text" />
      <br/>
      <input id="addStuffButton" type="submit" text="Not sure why need text"/>
    </p>

  </body>

</html>
