<!DOCTYPE html>
<html>
  <head>

    <title>
      Welcome to the relevant app.
    </title>
    
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

     //when the document is ready to be manipulated
     $(document).ready(function(){
	 
	 //add a click handler to the button
	 $("#addStuffButton").click(function() {

	     var newInput1 = $("#input1").val().trim();
	     var newInput2 = $("#input2").val().trim();

	     //post some data to the server

	     $.post("/inputs",

		    {input1: newInput1, input2: newInput2}, //data (js object)

		    function(data) { //function to call on return

			//empty out the submitted div
			$("#submitted").empty();

			//clear out the textboxes
			$("#input1").val("");
			$("#input2").val("");

			//for each piece of data - val holds the json with the name and email
			$.each(data, function(key, val) {
			    //append first input
			    $("#submitted").append(val.input1);
			    //append second input
			    $("#submitted").append(" " + val.input2);
			    //newline
			    $("#submitted").append("</br>");
			});
		    }
	     );
	 });
     });

    </script>
    
  </head>
  
  <body>

    <div id="submitted">
      <% @all_inputs.each do |submitted| %>
	<%= submitted.input1 %> <%= " " + submitted.input2 %>
	<br/>
      <% end %>      
    </div>

    <p>
      
      Add some text for the sake of adding text.
      <br/>
      Here is an input box: <input id="input1" type="text" />
      <br/>
      Here is another input box: <input id="input2"  type="text" />
      <br/>
      <input id="addStuffButton" type="submit" text="Not sure why need text"/>
    </p>

  </body>

</html>
