<!DOCTYPE html>
<html>
  <head>

    <title>
      Welcome to the relevant app.
    </title>
    
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

     //when the document is ready to be manipulated
     $(document).ready(function(){
	 
	 //add a click handler to the button
	 $("#addComponent").click(function() {

	     var codeIn = $("#code").val().trim();
	     var typeIn = $("#type").val().trim();

	     //post some data to the server

	     $.post("/components",

		    {code: codeIn, type: typeIn}, //data (js object)

		    function(data) { //function to call on return

			//empty out the submitted div
			$("#components").empty();

			//clear out the textboxes
			$("#code").val("");
			$("#type").val("");

			//for each piece of data - val holds the json with the name and email
			$.each(data, function(key, val) {
			    //append first input
			    $("#components").append(val.code);
			    //append second input
			    $("#components").append(" " + val.type);
			    //newline
			    $("#components").append("</br>");
			});
		    }
	     );
	 });
     });

    </script>
    
  </head>
  
  <body>

    List of components that have been added:
    <div id="components">
      <% @all_components.each do |component| %>
	<%= component.code %> <%= " " + component.type %>
	<br/>
      <% end %>      
    </div>

    <p>
      
      Enter your new Component Here
      <br/>
      Enter component technical id here: <input id="code" type="text" />
      <br/>
      Enter component type here (capacitor, resistor, transistor, etc): <input id="type"  type="text" />
      <br/>
      <input id="addComponent" type="submit"/>
    </p>

  </body>

</html>
